* {
    font-family: 'Press Start 2P', cursive;
}
body{
    background-color: #59007A;
    color:#ffbbdb;
}
main {
     background-color: #59007A;
}


footer {
    background-color: transparent;
    position: fixed;
    bottom: -12%;
    left: -4%;
    min-width:80%;
}
.footer-image {
    width: auto;
    height: auto;
}
 .nav-header {
    background-image: url('../assets/images/Header.png'); 
    background-color: #59007A;
    display: flex;
    align-items: center;
    margin-top: -1.1%;
    margin-left: -1%;
    margin-right: -1%;
    margin-bottom: -0.5%;
    max-width:101.4%;
 }
 .home-nav {
    display: flex;
    transform: translate(500%, 0%);
    min-width:105px;
 }
 .home-link {
    display: flex;
    transform: translate(685%, 400%)
 }
 .about-nav{
    display: flex;
    transform: translate(230%, 5%);
    min-width:150px;
 }
 .about-link {
    display: flex;
    transform:translate(198%, 365%);
}
 .portfolio-nav {
    display: flex;
    transform: translate(60%, -18%);
    min-width:150px;
 }
 .work-link {
    display: flex;
    transform: translate(-28%, 160%);
 }
 .contact-nav {
    display: flex;
    transform: translate(-80%, 7%);
    min-width:150px;
 }
 .contact-link {
    display: flex;
    transform: translate(-259%, 370%);
 }
 .resume-nav {
    display: flex;
    transform: translate(-250%, -5%);
    min-width:150px;
 }
 .resume-link {
    display: flex;
    transform: translate(-572%, 260%);
    color:#59007A;
 }

.nav-tabs {
    display: flex;
    list-style: none;
    padding: 0;
}
.nav-item {
    margin-right: 10px;
}
.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0px;
    border-radius: 0px;
}
/* .nav-link .home-link .about-link .work-link .contact-link .resume-link {
    font-size: 10px;

} */

/* .nav-link img {
    width: 10%;
} */
.nav-link span{
    margin-left: 5px;
}
 active {
    display: flex;
    background-color: transparent;
    border-color: transparent;
    margin: transparent;
    padding: transparent;
 }




/* .Home { 
    background-image:url('../assets/images/Home.png') ;
    background-color: transparent;
}  */
.AboutMe {
    background-image: url('../assets/images/AboutMe.png');
}
.Contact {
    background-image: url('../assets/images/ContactMe.png');
}
.Portfolio {
    background-image: url('../assets/images/Portfolio.png');
}
.Resume {
    background-image: url('../assets/images/Resume.png');
}

@media only screen and (max-width: 768px) {
    body{
        background-color: #59007A;
        color:#ffbbdb;
    }
    main {
         background-color: #59007A;
    }
    .footer {
        background-color: transparent;
        bottom: 0%;
        right: 0%;
        left: 6%;
        width: 100%;
    }
    .footer-image {
      position:absolute;
        width: 76%;
        height: auto;
        bottom: 0%;
        transform: translate(-11%, -103%);
    }
    /* Styles for tablets and smaller screens */
    .nav-header {
        background-image: url('../assets/images/Header.png'); 
        background-color: #59007A;
        display: flex;
        margin-top: -2%;
        margin-left: -47%;
        margin-right: -10%;
        max-width: 120%;
 

     }
    .home-nav {
      transform: translate(650%, -10%);
      min-width: 50%;

    }
    .home-link {
        transform: translate(715%, 310%);
        font-size:11.5px;
        font-weight: 600;
      }
  
    .about-nav {
      transform: translate(330%, 10%);
      min-width: 50%;
    }
    .about-link {
        transform: translate(260%, 350%);
        font-size:11.5px;
        font-weight: 600;
      }
    .portfolio-nav {
      transform: translate(220%, -20%);
      min-width: 55%;
    }
    .work-link {
        transform: translate(321%, 180%);
        font-size:11.5px;
        font-weight: 600;
      }
    .contact-nav {
      transform: translate(138%, 12%);
      min-width: 50%;
    }
    .contact-link {
        transform: translate(50%, 350%);
        font-size:11.5px;
        font-weight: 600;
      }
    .resume-nav {
      transform: translate(25%, -8%);
      min-width: 55%;
    }
    .resume-link {
        transform: translate(-90%, 235%);
        font-size:11.5px;
        font-weight: 600;
      }
  }
  
  @media only screen and (max-width: 480px) {
      body{
        background-color: #59007A;
        color:#ffbbdb;
    }
    main {
         background-color: #59007A;
    }
    .footer {
        background-color: transparent;
        bottom: 0%;
        right: 0%;
        left: -3.5%;
        width: 113%;
    }
    .footer-image {
      position:absolute;
        width: 20%;
        height: auto;
        bottom: 0%;
        transform: translate(0%, -18.5%);
    }
    /* Styles for tablets and smaller screens */
    .nav-header {
        background-image: url('../assets/images/Header.png'); 
        background-color: #59007A;
        display: flex;
        margin-top: -2%;
        margin-left: -77%;
        margin-right: -20%;
        min-width: 135%;
 

     }
    /* Styles for mobile phones */
   .home-nav {
      transform: translate(840%, -20%);
      min-width: 43px;

    }
    .home-link {
        transform: translate(885%, 240%);
        font-size:9px;
        font-weight: 600;
      }
  
    .about-nav {
      transform: translate(405%, 10%);
      min-width: 78px;
    }
    .about-link {
        transform: translate(495%, 199%);
        font-size:9px;
        font-weight: 600;
        text-align: center;
      }
    .portfolio-nav {
      transform: translate(305%, -20%);
      min-width: 77px;
    }
    .work-link {
        transform: translate(488%, 150%);
        font-size:9px;
        font-weight: 600;
      }
    .contact-nav {
      transform: translate(220%, 12%);
      min-width: 75px;
    }
    .contact-link {
        transform: translate(143%, 350%);
        font-size:9px;
        font-weight: 600;
      }
    .resume-nav {
      transform: translate(75%, -20%);
      min-width: 85px;
    }
    .resume-link {
        transform: translate(-10%, 170%);
        font-size:9px;
        font-weight: 600;
      }
  }