.contact {
    position: relative;
    z-index: 1;
}
.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    transform: translate(0%, 18%);
    margin-bottom: 200px;
}
label {
    font-size: large;
}
.align-self-center {
    background-color: #ffbbdb;
    color: #59007A;
    border-radius: 25px;
    min-height: 30px;
    
}
.message {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {

}