
#my-portfolio {
    color:#ffbbdb;
    text-align: center;
    transform: translate(-2%, 30%);
    font-size:xx-large;
}
 .Moon {
    display: flex;
    justify-content: center;
    transform: translate(60%, -30%);
    background-color: transparent;
 }
 .Cloud {
    display: flex;
    justify-content: flex-start;
    transform: translate(60%, -233%)
 }
 .AboutMe {
    display: flex;
    justify-content: flex-start;
    transform: translate(150%, -200%)
 }
 .Portfolio {
    display: flex;
    justify-content: flex-start;
    transform: translate(210%, -230%)
 }
 .Resume {
   display: flex;
   justify-content: center;
   transform:translate(250%, -400%)
 }
.Contact {
   display: flex;
   justify-content: center;
   transform: translate(300%, -430%)
}


 .Mountain {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    transform: translate(45%, 17.5%);
    max-height:35%;
 }



 @media only screen and (max-width: 768px) {

   .Mountain {
      max-width: 50%;
      transform: translate(25%, 140%);
    }
    .Moon {
      max-width: 61%;
      transform: translate(17.4%, -4%);
    }
  
    .Cloud {
      max-width: 40%;
      transform: translate(50%,85%);
    }
    #my-portfolio {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      transform: translate(-14%, 44%);
      font-size: x-large;
    }
 }

 @media only screen and (max-width: 480px) {
   .Mountain {
      max-width: 55%;
      transform: translate(35%, 399%);
    }
    .Moon {
      max-width: 75%;
      transform: translate(22%, 20%);
    }
  
    .Cloud {
      max-width: 40%;
      transform: translate(110%,295%);
    }
    #my-portfolio {
      text-align: center;
      transform: translate(-4%, 64%);
      font-size: 24px;
    }
 }
